@import "../../Styles/Code-palet/Aply-Fonts";
.contactPage {
  @include AplySize(100vh, 100vw, #1b1b1c);
  position: relative;
  $font-family: "Poppins", sans-serif;
  .heading {
    @include AplyFont(10rem, white, margin-top, $font-family);
    position: relative;
    left: 10%;
  }

  .headingMask {
    content: "";
    position: absolute;
    background-color: #1b1b1c;
    height: 9em;
    top: 9.3em;
    width: 100%;
    left: 0;
    z-index: 10;
  }

  .specification {
    position: absolute;
    @include AplySize(10em, 25em, transparent);
    @include AplyFont(1.3rem, rgb(255, 255, 255), thin, $font-family);
    right: 25%;
    bottom: 30%;
    display: flex;
    // justify-content: space-between;
    //   bottom: 2em;

    .techs {
      li {
        color: rgb(206, 206, 206);
        font-size: medium;
        line-height: 1.5;
        list-style-type: none;
      }
    }

    .line {
      background-color: rgba(255, 255, 255, 0.562);
      border: 0.5px solid rgba(255, 255, 255, 0.562);
      height: 6em;
      margin-top: 8%;
      margin-right: 0.5em;
    }

    .owner {
      padding-left: 3rem;
      .developer {
        color: rgb(206, 206, 206);
        font-size: medium;
      }
    }
  }
  .footer {
    display: flex;
    position: absolute;
    list-style-type: none;
    @include AplyFont(1.3rem, rgb(199, 198, 198), thin, $font-family);
    left: 10%;
    bottom: 5%;
    align-items: center;
    li {
      // margin-top: 1em;
      padding: 1em;
    }
  }
  img {
    position: absolute;
    right: 0;
    bottom: 0;
  }
}
