@import "../../Styles/Code-palet/Aply-Fonts";
$font-family: "Poppins", sans-serif;
.project-sec {
  // display: flex;
  position: relative;

  .container {
    position: relative;
    height: 100vh;
    width: 600%;
    flex-wrap: nowrap;
    background-color: #1b1b1c;

    .title {
      // position: absolute;
      // opacity: 0;
      top: 0;
      @include AplyFont(10rem, rgb(255, 255, 255), bold, $font-family);
      // text-shadow: -1px 0 #d0d0d0, 0 1px #d0d0d0, 1px 0 #d0d0d0, 0 -1px #d0d0d0;
      margin-left: 0.3em;
      padding-top: 0.3em;
      letter-spacing: 0.3rem;
    }
    .semi-circle {
      background: linear-gradient(
        180deg,
        rgba(196, 196, 196, 0.09) 0%,
        rgba(196, 196, 196, 0) 100%
      );
      position: absolute;
      top: 0;
      height: 45em;
      width: 25em;
      left: 0;
      border-bottom-right-radius: 30em;
      border-top-right-radius: 30em;
    }
    // top: 0;

    .all-panel {
      position: relative;
      width: 600%;
      display: flex;
      flex-wrap: nowrap;
      top: 2em;
      // margin-top: 5em;
    }
    .panel {
      @include AplySize(25em, 100vw, transparent);
      // margin-left: 30vw;
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        position: absolute;
        font-size: 10em;
        left: 75%;
        bottom: 1.5em;
      }
      .project1 {
        padding: 0 5rem 0 5rem;
        border-radius: 10px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        @include AplySize(20em, 20em, rgb(56, 56, 56));

        .proj-name {
          position: absolute;
          top: 2em;
          // padding-bottom: 1rem;
          @include AplyFont(3em, white, bold, $font-family);
        }
        .proj-desc {
          position: relative;
          top: 2.5em;
          padding-left: 1.3em;
          @include AplyFont(1em, white, normal, $font-family);
        }
      }
    }
  }
}
