@mixin AplyFont($size, $clr, $fntwt, $fntfmly) {
  font-size: $size;
  color: $clr;
  font-weight: $fntwt;
  font-family: $fntfmly;
}

@mixin AplySize($height, $width, $clr) {
  height: $height;
  width: $width;
  background-color: $clr;
}
